# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
ENV/
*.env

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Docker
*.log
*.pid
*.bak
docker-compose.override.yml

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Google Cloud
gcloud-config/

# MacOS
.DS_Store

# Logs
*.log

# System Files
Thumbs.db
